<% flash.each do | type, msg, icono | %>
  <% if type=='alert'%>
    <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div class="progress-bar-alert"></div>
      <%= msg %>
      <%= icono="warning" %>
    </div>
  <% elsif type=='notice'%>
    <div class="alert alert-info">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div class="progress-bar-alert"></div>
      <%= msg %>
      <%= icono="info" %>
    </div>
  <% elsif type=='success'%>
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div class="progress-bar-alert"></div>
      <%= msg %>
      <%= icono="success" %>
    </div>
  <% elsif type=='error'%>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div class="progress-bar-alert"></div>
      <%= msg %>
      <%= icono="danger" %>
    </div>
  <% end %>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const checkingAlert = Swal.fire({
        title: "<%= type.capitalize %>",
        text: "<%= msg %>",
        icon: "<%= icono %>",
        timer: 4000, // Tiempo en milisegundos para autocerrar la alerta (opcional)
        showConfirmButton: false,
        showCancelButton: false,
      });

      setTimeout(() => {
        // Fin del proceso de datos, cerrar el SweetAlert2 "Checking..."
        checkingAlert.close();
      }, 4000); 
    });
  </script>
<% end %>