<h2>Cambia tu contrase単a</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>
  <br>

  <div class="form-inputs">
    <div class="input-group">
      <%= f.password_field :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Ingrese su nueva contrase単a", id:'txtNuevoPassword' %>
      <div class="input-group-append">
        <button id="nuevo_password" class="btn btn-success" type="button"> <span class="fa fa-eye-slash icon"></span> </button>
      </div>
    </div>
    <br>
    
    <div class="input-group">
      <%= f.password_field :password_confirmation, label: "Confirm your new password", required: true, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Confirme su nueva contrase単a", id:'txtConfirmaPassword' %>
      <div class="input-group-append">
        <button id="confirma_nuevo_password" class="btn btn-success" type="button"> <span class="fa fa-eye-slash icon"></span> </button>
      </div>
    </div>
    
  </div>
  <br>

  <div class="form-actions">
    <%= f.button :submit, "Cambiar mi contrase単a", class: "btn btn-success btn-user btn-block" %>
  </div>
<% end %>
<hr>
<div class="text-center">
  <%= render "devise/shared/links" %>
</div>