<h2>Olvidaste tu contraseña?</h2>
<br>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, label: false, autofocus: true, input_html: { autocomplete: "email", class: "form-control form-control-user", placeholder: "Ingrese su correo..." }%>
  </div>
  <br>

  <div class="form-actions">
    <%= f.button :submit, "Envíe datos para restablecer la contraseña", class: "btn btn-success btn-user btn-block" %>
  </div>
<% end %>
<hr>
<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
