<p id="notice"><%= notice %></p>

<p>
  <strong>Icono:</strong>
  <%= @font_awesom.icono %>
</p>

<p>
  <strong>Prefijo nombre:</strong>
  <%= @font_awesom.prefijo_nombre %>
</p>

<p>
  <strong>Termino:</strong>
  <%= @font_awesom.termino %>
</p>

<p>
  <strong>Codigo css:</strong>
  <%= @font_awesom.codigo_css %>
</p>

<p>
  <strong>Tipo icono:</strong>
  <%= @font_awesom.tipo_icono %>
</p>

<p>
  <strong>User created:</strong>
  <%= @font_awesom.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @font_awesom.user_updated_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @font_awesom.estado %>
</p>

<%= link_to 'Edit', edit_font_awesom_path(@font_awesom) %> |
<%= link_to 'Back', font_awesomes_path %>
