<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Configuración
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="<%= is_active_controller_sistema_titulo %>">
  <a class="menu_sb <%= is_active_controller_sistema %>" href="#" data-toggle="collapse" data-target="#collapseSistema" aria-expanded="true" aria-controls="collapseSistema">
    <i class="fas fa-fw fa-cog"></i>
    <span>SISTEMAS</span>
  </a>
  <div id="collapseSistema" class="opcion_sb <%= is_active_option_controller_sistema %>" aria-labelledby="headingSistema" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Opciones:</h6>
      <!--INICIA VALIDACION DE OPCIONES MOSTRAR EN EL SIDEBAR -->
      <!--< if tiene_permiso_sidebar("MENU EMPRESAS", "VER OPCION") %>-->
      <%=link_to empresas_path, class: is_active_action("empresas") do %>
        <i class="fas fa-building"></i>
        <span>Empresa</span>
      <%end%>
      <!--< end %>-->

      <!--< if tiene_permiso_sidebar("MENU AREAS EMPRESA", "VER OPCION") %>-->
      <%=link_to areas_path, class: is_active_action("areas") do %>
        <i class="fas fa-sitemap"></i>
        <span>Areas - Empresa</span>
      <%end%>
      <!--< end %>-->

      <!--FINALIZA VALIDACION DEL OPCIONES PARA MOSTRAR EN EL SIDEBAR -->
    </div>
  </div>
</li>