<!-- Formulario Usuarios -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Registro Usuarios</h6>
  </div>
  <div class="card-body">
    <%= simple_form_for :usuario_form, :url=> {:controller => "usuarios", :action => "crear_usuario"} do |f| %>
      <div class="row">
        <div class="col-md-12">
          <h4>Datos Personales</h4>
          <div class="row">
            <div class="col-md-6"><%= f.input :nombre, autofocus: true, input_html: {class:"form-control", type: "txt", placeholder: "Ingrese solo letras" , required: true, pattern: "^[A-Za-zñÑáéíóúÁÉÍÓÚ \s]+$" } %></div>
            <div class="col-md-6"><%= f.input :apellido, input_html: {class:"form-control", type: "txt" , placeholder: "Ingrese solo letras", required: true, pattern: "^[A-Za-zñÑáéíóúÁÉÍÓÚ \s]+$" } %></div>
          </div>
          <div class="row">
            <div class="col-md-6"><%= f.input :telefono, input_html: {class:"form-control", type: "" , maxlength: "8", placeholder: "Ingrese 8 dígitos" , required: true, pattern: "^[0-9]{8}$" } %></div>
            <div class="col-md-6"><%= f.input :direccion, input_html: {class:"form-control", type: "txt" , placeholder: "" , required: true }%></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4>Datos de Autenticación</h4>
          <div class="row">
            <div class="col-md-6">
              <%= f.label "Correo Electrónico" %><br/>
              <%= f.email_field :email, autocomplete: "email" ,class: "form-control form-control-user", placeholder: "ejemplo@gmail.com" , required: true %>
            </div>
            <div class="col-md-6">
              <%= f.label "Clave" %>
              <div class="input-group">
                <%= f.password_field :password, autocomplete: "current-password", minlength: "6", class: "form-control form-control-user", required: true, placeholder: "Minimo 6 caracteres", id: "txtPasswordNew" %>
                <div class="input-group-append">
                  <button id="show_password_new" class="btn btn-success" type="button"> <span id="mostrar" class="fas fa-eye-slash icon"></span> </button>
                </div>
              </div>            
            </div>     
          </div>
          <%= f.hidden_field :estado, :value=> "A" %>
          <%= f.hidden_field :user_created_id, :value=> current_user.id %>
          <hr>
          <h4>Asignación de Área</h4>
            <div class="row">
              <div class="col-md-6"><%= f.input :empresa_id, collection: Empresa.where(:estado=> 'A').limit(10), label_method: :empresa_con_codigo, value_method: :id, label: "Seleccione una empresa", prompt: "Buscar una empresa", input_html: {class: 'select2', required: true, id: "codigo_empresa_usuario", 'data-endpoint': search_empresa_path } %></div>
              <div class="col-md-6"><%= f.input :area_id, collection: Area.where(:estado=> 'A').limit(0), label_method: :nombre, value_method: :id, label: "Seleccione una área", prompt: "Buscar una área", input_html: {class: 'select2', required: true, id: "codigo_area_usuario"} %></div>
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 text-center">
          <!--< if tiene_permiso("BOTON REGISTRAR", "VER") %>-->
          <%= button_tag f.submit, class: "btn btn-success btn-sm", data: {controller: 'sweetalert', action: 'click->sweetalert#btnConfirmar',
                                                                            sweetalert_confirm_alert_value: "Registrar",
                                                                            sweetalert_cancel_alert_value: "Cancelado",
                                                                            sweetalert_confirm_title_value: 'Esta seguro de <strong> registrar el usuario?</strong>',
                                                                            sweetalert_confirm_btn_value: '<i class="fas fa-check-circle"></i> <strong>Si, Registrar</strong>',
                                                                            sweetalert_cancel_btn_value: '<i class="fas fa-times-circle"></i> <strong>No, Cancelar</strong>',
                                                                            sweetalert_cancel_title_value: 'Se ha cancelado el evento <strong>registrar usuario</strong>' } do %>
            <span class="icon text-50">
              <i class="fas fa-edit"></i>
            </span>
            <span class="text">REGISTRAR</span>
          <%end%>
          <!--< end %>-->
          <%= link_to usuarios_path, class: "btn btn-outline-danger btn-sm" do %>
            <span class="icon text-red-50">
              <i class="fas fa-arrow-circle-left"></i>
            </span>
            <span class="text">CANCELAR</span>
          <%end%>
        </div>
      </div>
      <% end %>
  </div>
</div>
<div class="area_usuario" data-endpoint="<%= search_area_path %>"></div>
<script>
  $('#codigo_empresa_usuario').on('select2:select', function (e) {
    $.ajax({
      url: $('.area_usuario').data('endpoint'),
      type: 'GET',
      dataType: "json",
      data: {
        empresa_usuario_params: e.params.data.id
      },
      success: function (data) {
        $("#codigo_area_usuario").empty();

        var json = data;
        $("#codigo_area_usuario").append("<option value='" + 0 + "'>Seleccione una área</option>");
        for (var i of json) {
          $("#codigo_area_usuario").append("<option value='" + i.valor_id + "'>" + i.valor_text + "</option>");
        }
      }
    });
  });
</script>