<p id="notice"><%= notice %></p>

<p>
  <strong>Disenio:</strong>
  <%= @codigo_color.disenio %>
</p>

<p>
  <strong>Nombre color:</strong>
  <%= @codigo_color.nombre_color %>
</p>

<p>
  <strong>Colores:</strong>
  <%= @codigo_color.colores %>
</p>

<p>
  <strong>Codigo hex:</strong>
  <%= @codigo_color.codigo_hex %>
</p>

<p>
  <strong>Codigo rgb:</strong>
  <%= @codigo_color.codigo_rgb %>
</p>

<p>
  <strong>Codigo hls:</strong>
  <%= @codigo_color.codigo_hls %>
</p>

<p>
  <strong>User created:</strong>
  <%= @codigo_color.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @codigo_color.user_updated_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @codigo_color.estado %>
</p>

<%= link_to 'Edit', edit_codigo_color_path(@codigo_color) %> |
<%= link_to 'Back', codigo_colores_path %>
